<template name="topNavbar">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a id="navbar-minimalize" class="minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="nav navbar-right">
                <button style="margin-right: 30px;" id="GoFullscreen" class="btn btn-default minimalize-styl-2">
                    <i class="fa fa-desktop"></i>
                </button>
            </div>

        </nav>
    </div>
</template>